python-multipart
python-dotenv

langchain
langchain-core
langchain-community
langchain-huggingface

groq

fastapi

fastembed

psycopg2-binary

sentence-transformers
transformers

pydantic

beautifulsoup4

psycopg2